[package]
name = "app"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
httpRs = {path="../httpRs"}
http = "0.2.9"
tokio = { version= "1.32.0", features = ["full"]}


